# Anime Recommendation System
The anime recommendation system uses machine learning to provide personalized recommendations based on user preferences. By analyzing factors such as genre, plot, and characters, the system generates accurate and relevant recommendations. 

Users can input their favorite anime titles or genres to receive tailored recommendations, making it easy to discover new content and enjoy their favorite shows.

## Importing Libraries

In [11]:
import pandas as pd
import numpy as np
import re
import nltk

## Loading Data

#### Anime Dataset

In [12]:
df = pd.read_csv('rating.csv')
df.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

## Data Cleaning and Preprocessing

### Obtaining Data Types Info

In [13]:
df.dtypes

user_id     int64
anime_id    int64
rating      int64
dtype: object

### Finding Duplicated Rows

In [14]:
print(df.duplicated().sum(), 'duplicated data')

1 duplicated data

In [20]:
# Removing duplicated rows
df = df.drop_duplicates()
print(df.duplicated().sum(), 'duplicated data')

0 duplicated data

### Getting Unique Values

In [16]:
# Finding the number of unique values in each column
print(df.nunique())

user_id     73515
anime_id    11200
rating         11
dtype: int64

### Checking for Null & N/A Values

In [17]:
# Checking for null values
print(df.isnull().sum())

user_id     0
anime_id    0
rating      0
dtype: int64

In [22]:
# Checking for N/A values
print(df.isna().sum())

user_id     0
anime_id    0
rating      0
dtype: int64